{% extends 'unsc/main.html' %}
{% block content %}
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body">
                <h1 class="title">Notifications</h1>

                {% if not notifications %}
                   <p>No notifications yet!</p>
                {% endif %}

                {% for notification in notifications %}
                    <div class="notification">
                    <p>
                        <a href="{% url 'notification:notification_details' notification.id %}" class="note">
                            <strong>{{notification.created_by.username}}</strong> sent you a message<br>
                            <small>{{notification.message}}</small>
                            <small>This was sent {{notification.create_date|timesince}} ago</small>
                        </a>
                    </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}